
<div class="row">
    <div class="hard col-sm-6 col-md-6 col-lg-5 ">
        <h2>HARD  SKILLS</h2>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [radius]="50"
        [backgroundPadding]="0"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoHTML5.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="500"
        >
    </circle-progress >
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoCSS.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="600"
        >
        </circle-progress >
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="85"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoJavaScript.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="700"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="70"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoGitHub.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="120"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="800"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
            [percent]="70"
            [radius]="100"
            [imageSrc]="'assets/images-hard&soft/logoNODEJS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'rgba(5,208,185,1)'"
            [innerStrokeColor]="'#8d3290'"
            [animation]="true"
            [animationDuration]="900"
            >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="80"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoPhotoshop.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="1000"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="90"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoSonyVegas.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="1100"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="70"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoAngular.png'"
        [showImage]="true"
        [imageHeight]="120"
        [imageWidth]="170"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="1200"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="70"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/logoPython.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="150"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'rgba(5,208,185,1)'"
        [innerStrokeColor]="'#8d3290'"
        [animation]="true"
        [animationDuration]="1300"
        >
        </circle-progress>
    </div>
    <div class="soft col-sm-6 col-md-6 col-lg-5 ">
        <h2>SOFT  SKILLS</h2>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="80"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/AprendizajeIndependiente.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ff1b82'"
        [innerStrokeColor]="'#1338BE'"
        [animation]="true"
        [animationDuration]="1000"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="100"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/compromiso.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ff1b82'"
        [innerStrokeColor]="'#1338BE'"
        [animation]="true"
        [animationDuration]="800"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="95"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/trabajoEnEquipo.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ff1b82'"
        [innerStrokeColor]="'#1338BE'"
        [animation]="true"
        [animationDuration]="900"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
            [backgroundPadding]="0"
            [percent]="90"
            [radius]="100"
            [imageSrc]="'assets/images-hard&soft/creatividad.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff1b82'"
            [innerStrokeColor]="'#1338BE'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
        [backgroundPadding]="0"
        [percent]="80"
        [radius]="100"
        [imageSrc]="'assets/images-hard&soft/flexibilidad.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="6"
        [outerStrokeColor]="'#ff1b82'"
        [innerStrokeColor]="'#1338BE'"
        [animation]="true"
        [animationDuration]="1000"
        >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
            [backgroundPadding]="0"
            [percent]="95"
            [radius]="100"
            [imageSrc]="'assets/images-hard&soft/habilidadesDigital.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff1b82'"
            [innerStrokeColor]="'#1338BE'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
            [backgroundPadding]="0"
            [percent]="90"
            [radius]="100"
            [imageSrc]="'assets/images-hard&soft/mentalidadDeCrecimiento.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff1b82'"
            [innerStrokeColor]="'#1338BE'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
            [backgroundPadding]="0"
            [percent]="80"
            [radius]="100"
            [imageSrc]="'assets/images-hard&soft/pensamientoCritico.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff1b82'"
            [innerStrokeColor]="'#1338BE'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
        <circle-progress class="circle col-xs-6 col-sm-6 col-md-6 col-lg-3"
            [backgroundPadding]="0"
            [percent]="90"
            [radius]="100"
            [imageSrc]="'assets/images-hard&soft/resiliencia.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff1b82'"
            [innerStrokeColor]="'#1338BE'"
            [animation]="true"
            [animationDuration]="1000"
            >
        </circle-progress>
    </div>

</div>