.modal-content{
    color:antiquewhite;
    align-items: center;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,208,185,1) 0%, rgba(255,0,159,1) 100%);

}