<main role="main-inner-wrapper" class="container">
    <div class="blog-details">
        <article class="row">
                <img src="../../../assets/image-1.jpg" alt="Imagen sobre mi" class="img-responsive col-sm-2 col-md-6 col-lg-6"/>  
                <div class="col-sm-2 col-md-6 col-lg-6">
                    <h2>SOBRE MI</h2>
                    <p><strong>MARIA FLORENCIA GALA</strong></p>   
                    <p>Hola! soy una programadora en constante evolución y con ganas de encarar día a día nuevos desafíos. Manejo muy bien las frustraciones y las considero parte del camino para encontrar los objetivos. Optimizo recursos, logro objetivos , busco formas de resolver y si no las conozco...las aprendo. Mi objetivo es crecer, evolucionar y disfrutar de cada logro . Espero poder brindarte apoyo en lo que estés buscando y logremos trabajar juntos en nuevos proyectos.</p>
             </div>
        </article>
    </div>
</main>
