
.name{
    display: flex;
    padding-top: 2%;
    font-size: 2rem;
    font-family:'Bebas','Arimo','Bebas','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color:#212121;
    text-shadow: 10%;
    text-shadow: #03c0cd8f 1px 1px 10px;
    font-weight:-300;
}
i{
    font-size: 1rem;
    list-style: none;
    
    color:rgb(48, 48, 48);
}
iframe{
    padding-top: 1%;
    width: 300px;
}
h2{
    padding:0;
    font-size: 1rem;
}