
<main role="main-inner-wrapper" class="container">
    <div class="row">
<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
<article role="pge-title-content" class="contact-header">
    <header>
        <h2 class="name">Contacteme!<i class="bi bi-pencil"></i></h2>
        <h2>me encantaría trabajar con usted<i class="bi bi-pencil"></i></h2>
    </header>
    <p><a href="tel:+543472509569"><i class="bi bi-phone" aria-hidden="true"></i> +54 3472 509569<i class="bi bi-pencil"></i></a><br><a href="mailto:mariaflorenciaGala8@gmail.com"><i class="bi bi-envelope" aria-hidden="true"></i> MariaFlorenciaGala8@gmail.com<i class="bi bi-pencil"></i></a></p>
</article>
</div>

<hr class="border border-danger border-2 opacity-50">