<!--Actualizar Home -->
<div class="row">
    <main role="main-home-wrapper" class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <article role="pge-title-content">
                    <div>                    
                        <h2><span class="name">Maria Florencia Gala<i class="bi bi-pencil"></i></span><br>Full-stack developer<i class="bi bi-pencil"></i></h2>
                    </div>
                    <p>Éste es mi portfolio, aquí encontrarás mis proyectos,educación, información personal y contacto, espero que lo disfrutes.</p>
                    <h2><i class="bi bi-pencil"></i></h2>
                </article>
            </section>
            <section class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <img src="assets/image-1.jpg" alt="Imagen de perfil" class="img-responsive" />
            </section>
        </div>
    </main>
</div>
<hr class="border border-danger border-2 opacity-50">