<main role="main-inner-wrapper" class="container">
    <div class="blog-details">
        <article class="row">
                <img [src]="imgAcerca" alt="Imagen sobre mi" class="img-responsive col-sm-2 col-md-6 col-lg-6"/>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>SOBRE MI</h2>
                    <p id="nombre"><strong>{{ nombre }} {{apellido}}</strong></p>   
                    <p>{{ acerca }} </p>

            </div>
        </article>
    </div>
</main>
