<!--Barra de navegación de dashboard-->
<h2>Actualizar items</h2>
<div class="row">
    <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-item-1" role="tab" aria-controls="list-item-1"class="list-group-item list-group-item-action">Home</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" role="tab" aria-controls="list-profile" href="#list-item-2">Mis Proyectos</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" role="tab" aria-controls="list-profile" href="#list-item-3">Hard and Soft Skills</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" role="tab" aria-controls="list-profile" href="#list-item-4">Educación</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" role="tab" aria-controls="list-profile" href="#list-item-5">Experiencia Laboral</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" role="tab" aria-controls="list-profile" href="#list-item-6">Sobre Mi</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" role="tab" aria-controls="list-profile" href="#list-item-7">Contacto</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <p class="tab-pane fade show active" id="list-item-1" role="tabpanel" aria-labelledby="list-home-list"><app-home-edit></app-home-edit></p>
            <p class="tab-pane fade" role="tabpanel" aria-labelledby="list-profile-list"id="list-item-2"><app-mis-proyectos-edit></app-mis-proyectos-edit></p>
            <p class="tab-pane fade"  role="tabpanel" aria-labelledby="list-profile-list"id="list-item-3"><app-hard-edit></app-hard-edit></p>
            <p class="tab-pane fade"  role="tabpanel" aria-labelledby="list-profile-list"id="list-item-4"><app-educacion-edit></app-educacion-edit></p>
            <p class="tab-pane fade"  role="tabpanel" aria-labelledby="list-profile-list"id="list-item-5"><app-experiencia-laboral-edit></app-experiencia-laboral-edit></p>
            <p class="tab-pane fade"  role="tabpanel" aria-labelledby="list-profile-list"id="list-item-6"><app-acerca-de-mi-edit></app-acerca-de-mi-edit></p>
            <p class="tab-pane fade"  role="tabpanel" aria-labelledby="list-profile-list"id="list-item-7"><app-contacto-edit></app-contacto-edit></p>
            </div>
        </div>
    </div>
