.row{
    padding-left: 10%;
    padding-top: 0;
    padding-bottom: 1%;
}

img{
    width: 200px;
    padding-bottom: 2%;
}
hr {
    height: 3px;
    background-color: rgb(67, 59, 186);
}

.container{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 2%;

}
.container-fluid{
display:flex;
justify-content: center;
align-items: center;
text-align: center;
}
