<div class="redes">
    <i href="https://twitter.com/BatallaCordoba" type="button" class="bi bi-twitter" aria-hidden="true"></i>
    <i href="https://www.facebook.com/FloryCordoba" type="button" class="bi bi-facebook" aria-hidden="true"></i>
    <i href="https://www.linkedin.com/in/mariflor/" type="button" class="bi bi-linkedin" aria-hidden="true"></i>
    <i href="https://github.com/Flory3508" type="button" class="bi bi-github" aria-hidden="true"></i>

    <i href="#" type="button" class="bi bi-door-open-fill" aria-hidden="true"></i>
</div>
