<div class="container">
    <h2 class="">EXPERIENCIA LABORAL</h2>
</div>
<div>
    <div class="row" *ngFor = "let experiencia of experiencias ">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header role="work-title">
                <h2>{{ experiencia.nombre }}</h2>
                <p><strong>{{ experiencia. titulo }}</strong><br> Desde: {{ experiencia.desde}}</p><br> Hasta: {{ experiencia.hasta}}
            </header>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <img [src]="experiencia.img" >
                <p>{{ experiencia.descripcion }}</p>
            </section>
            </div>
        </div>
        <hr>