<div class="class container row">
    <h2>EXPERIENCIA LABORAL</h2>
</div>
<div>
    <div class="row" *ngFor = "let experiencia of experiencias ">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header role="work-title">
                <h2>{{ experiencia.nombre }}</h2>
                <div *ngFor = "let puesto of experiencia.puestos">
                <p><strong>{{ puesto.titulo }}</strong><br> Desde: {{ puesto.desde }} <br>Hasta: {{ puesto.hasta}}</p>
            </div>
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <section>
                <img [src]="experiencia.img" >
                <p>{{ experiencia.descripcion }}</p>
            </section>
            </div>
            <hr>
        </div>
