<div class="container">
    <h2 class="">EXPERIENCIA LABORAL</h2>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header role="work-title">
                <h2>SANANDO</h2>
                <p><strong>Propietaria editora</strong><br> Desde: 02/2011</p>
                </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <img src="../../../assets/images-experiencia/LogoSanando.JPG" >
                <p>Editora de videos de canal propio , tengo al 03/2023 101.000 suscriptores. Corto, edito y resubo videos de Biodesprogramación.</p>
            </section>
            </div>
        </div>
        <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <h2>PLOT-VINILOS</h2>
                <p><strong>Propietaria y diseñadora</strong><br> Desde: 11/2015</p>
                </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <img src="../../../assets/images-experiencia/LogoPlot.png" >
                <p>Diseño con maquinaria propia calcos, esmerilados a gran escala , vinilos textiles , diseños de remeras, rotulación vehicular y todo lo que tenga que ver con vinilos.</p>
            </section>
        </div>
    <hr>
    </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <h2>MARIA FLORENCIA GALA</h2>
                <p><strong>Fotografa y editora de video</strong><br>Desde 11/2017</p>
                </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <img src="../../../assets/images-experiencia/LogoFloryGala.JPG" >
                <p>Fotógrafa social y de eventos , manejo de photoshop , manipulacion de imágenes , edición de videos para bandas, quinceaños, familiares, etc.</p>
            </section>
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header >
                <h2>CENCOSUD</h2>
                <p><strong>Analista de Marketing: </strong><br> Egreso:10/2020 <br>Ingreso: 07/2016</p>
                <p><strong>Supervisora Ingreso: </strong>11/2013</p>
                <p><strong>Cajera Ingreso: </strong>10/2011</p>
                </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <img src="../../../assets/images-experiencia/LogoCencosud.png" >
                <p>Desde que ingresé en mi pueblo natal (Marcos Juarez )como cajera para la empresa Cencosud, estuve en la búsqueda de crecimiento.Tuve la posibilidad gracias a mi desempeño de crecer a encargada de caja y posteriormente a supervisora de caja. Luego, me traslade a Córdoba capital donde comencé la carrera de Marketing de la empresa y logré el puesto de asistente de Marketing.</p>
            </section>
            </div>
    </div>
</div>