<main role="main-home-wrapper" class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <article role="pge-title-content">
                    <div>
                        <h2><span class="name">{{ nombre }}<br>{{ apellido}}</span><br><br> {{ titulo }}</h2>
                    </div>
                    <p>{{ introduccion }}</p>
                </article>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img [src]= "imgHome" alt="Imagen de perfil" class="img-responsive" />
            </section>
        </div>
    </main>
