body{
    min-height: 549px;
    max-height: 549px;
    min-width: 480px;
    max-width: 480px;
}
.container1{
    position: absolute;
    left: 80px;
    top:98px;    
    z-index: -1;

}
#pokeImg{
    left: 6%;
    top: 30%;
    width: 10%;
    min-height: 130px;
    max-height: 130px;
    min-width: 100px;
    max-width: 100px;

}

#pokeName{
    display: flex;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 310px;
    left:32px;
    border: none;
    font-size: 19px;

}    
#pokeName::placeholder{
        color:rgb(161, 167, 174)
}

.buttonGo{
    position: absolute;
    display:flex;
    background-color: blue;
    color:aliceblue;
    text-shadow: 10px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    top: 310px;
    left: 127px;    
    text-align: center;
}

.container2{
    background: none;
    position: absolute;
    left: 285px;
    top:85px;    
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);

}
#typePoke{
    font-size: 15px;
    color: rgb(42, 41, 41);

}
#habPoke{
    flex-wrap: wrap;
    margin-top: 25px;
    font-size: 14px;
    

    
}

#movPoke{
    position: absolute;
    font-weight: 300;
    top:150px;
    font-size: 10px;
}

#totMov{
    font-size: 18px;
    color:aliceblue;
    position: absolute;
    top: 220px;
    left:75px

}