<main role="main-home-wrapper" class="container">
        <div class="row">
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                <article role="pge-title-content">
                    <div>
                        
                        <h2><span class="name">Maria Florencia<br>Gala</span><br><br> Full-stack
                            developer</h2>
                    </div>
                    <p>Éste es mi portfolio, aquí encontrarás mis proyectos, educación, información personal y contacto,
                        espero que lo disfrutes.</p>
                </article>
            </section>
            <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="assets/image-1.jpg" alt="" class="img-responsive" />
            </section>
        </div>
    </main>
