<!-- Iconos redes -->
<div class="redes">
    <a href="https://twitter.com/BatallaCordoba" ><i type="button" class="bi bi-twitter" aria-hidden="true" alt="Ir a Twitter" title="Ir a mi Twitter"></i></a>
    <a href="https://www.facebook.com/FloryCordoba"><i  type="button" class="bi bi-facebook" aria-hidden="true" alt="Ir a Facebook" title="Ir a mi Facebook"></i></a>
    <a href="https://www.linkedin.com/in/mariflor/"><i  type="button" class="bi bi-linkedin" aria-hidden="true" alt="Ir a Linkedin" title="Ir a mi Linkedin"></i></a>
    <a href="https://github.com/Flory3508"><i  type="button" class="bi bi-github" aria-hidden="true" alt="Ir a Github" title="Ir a mi Github"></i></a>
    
    <!-- Button Log In -->
    <i type="button" class="btn" data-bs-toggle="modal" data-bs-target="#logInModal" class="icono bi bi-person-circle" aria-hidden="true" alt="Entrar" title="Entrar"></i>
    <!-- si está logueado
    <i type="button" class="icono bi bi-person-fill-x" alt="Salir" title="Salir"></i>
    -->
</div>
<app-log-in></app-log-in>


