.redes{
    text-align: right;
    right:10px;
}

i{
    padding:0.3rem;
    font-size: 1.5rem;
    color:aliceblue;
}
.icono{
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    padding-left: 60px;
    padding-right: 20px;
}
i:hover{
    color:rgba(107, 5, 216, 0.637)
}
