<!-- Iconos redes -->

<div class="redes">
    <a  href="https://twitter.com/BatallaCordoba" ><i type="button" class="bi bi-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/FloryCordoba"><i  type="button" class="bi bi-facebook" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/mariflor/"><i  type="button" class="bi bi-linkedin" aria-hidden="true"></i></a>
    <a href="https://github.com/Flory3508"><i  type="button" class="bi bi-github" aria-hidden="true"></i></a>
    
    <!-- Button Log In -->
    <i type="button" class="btn" data-bs-toggle="modal" data-bs-target="#logInModal" class="bi bi-door-open-fill" aria-hidden="true"></i>
</div>
<app-login></app-login>


