
.name{
    display: flex;
    padding-top: 10%;
    font-size: 3rem;
    font-family:'Bebas','Arimo','Bebas','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color:#212121;
    text-shadow: 10%;
    text-shadow: #03c0cd8f 1px 1px 10px;
    font-weight:-300;
}
i{
    font-size: 1.5rem;
    list-style: none;
    
    color:rgb(48, 48, 48);
}
iframe{
    padding-top: 10%;
}