
    <main role="main-inner-wrapper" class="container">
        <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
    <article role="pge-title-content" class="contact-header">
        <header>
            <h2 class="name"> {{ contacteme }}</h2>
            <h2>{{ introContacto }}</h2>
        </header>
        <p><a href="tel:+543472509569"><i class="bi bi-phone" aria-hidden="true"></i> {{ telefono }} </a><br><a href="mailto:mariaflorenciaGala8@gmail.com"><i class="bi bi-envelope" aria-hidden="true"></i> {{ mail }}</a></p>
    </article>
    </div>

    <!-- map -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="demo-wrapper">
            <div id="surabaya">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1678474519365!6m8!1m7!1sSUEgt91kL3yBW9rYWq5YkQ!2m2!1d-32.68341388232262!2d-62.11043192960782!3f151.95997410581398!4f2.3459385716739973!5f0.4000000000000002" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
        <div class="clearfix"></div>
    <div class="contat-from-wrapper">
    <div id="message"></div>
        <form method="post" action="php/contactfrom.php" name="cform" id="cform">
            <h2>Formulario de contacto</h2>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input  name="name" id="name" type="text" placeholder="Ingrese su nombre">
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input  name="email" id="email" type="email"  placeholder="Su correo electrónico">
                </div>
            </div>
            <div class="clearfix"></div>
            <textarea name="comments" id="comments" cols="" rows="" placeholder="Mensaje" ></textarea>
            <div class="clearfix"></div>
            <input name="" type="submit" value="Enviar">
            <div id="simple-msg"></div>
        </form>
    </div>
    <footer role="footer">
