<i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header role="work-title">
                <img src="../../../assets/images-educacion/LogoArgPrograma.JPG" >
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">

            <section>
                <h2>#YO PROGRAMO</h2>
                <P>Segunda etapa del plan Argentina programa, dictado por INTI</P>
                <p>Fecha de finalizacion: 2023</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr>
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoArgPrograma.JPG" >
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>#SÉ PROGRAMAR</h2>
                <P>Primera etapa del plan Argentina programa, dictado por INTI</P>
                <p>Fecha de finalizacion: 06/2022</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr>
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoEdutin.JPG" href="https://edutin.com/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>DESARROLLADOR PYTHON</h2>
                <P>Curso disctado por Edutin</P>
                <p>Fecha de finalizacion: 08/2022</p>
                <p>Certificado: No</p>
            </section>
            </div>
    </div>
    <hr>   
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoFreeCodeCamp.JPG" href="https://www.freecodecamp.org/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>JAVA ALGORITHMS AND DATA STRUCTURE</h2>
                <p>Curso dictado por freeCodeCamp</p>
                <p>Fecha de finalizacion: 08/2022</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr>   
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoGoogleActivate.jpg" href="https://learndigital.withgoogle.com/digitalgarage/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>CIBERSEGURIDAD EN EL TRABAJO</h2>
                <p>Curso dictado por Google Activate</p>
                <p>Fecha de finalizacion: 09/2021</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr>   
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoGoogleActivate.jpg" href="https://learndigital.withgoogle.com/digitalgarage/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>INTRODUCCION AL DESARROLLO WEB</h2>
                <p>Curso dictado por Google Activate</p>
                <p>Fecha de finalizacion: 09/2021</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr>   
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoGoogleActivate.jpg" href="https://learndigital.withgoogle.com/digitalgarage/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>DESARROLO DE APPS MÓVILES</h2>
                <p>Curso dictado por Google Activate</p>
                <p>Fecha de finalizacion: 08/2021</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr> 
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoYoutube.JPG" href="https://www.fundacionbica.org.ar/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>EDICIÓN DE VIDEO, PHOTOSHOP , DISEÑO GRÁFICO</h2>
                <p>Curso de índole autodidacta</p>
                <p>Certificado: No</p>
            </section>
            </div>
    </div>
    <hr>   
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoCentroKandinsky.JPG" href="https://www.fundacionbica.org.ar/" type="button"><i class="bi bi-pencil"></i>
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>FOTOGRAFÍA</h2>
                <p>Curso dictado por Instituto Kandisky</p>
                <p>Fecha de finalizacion: 12/2013</p>
                <p>Certificado: No</p>
            </section>
            </div>
    </div>
    <hr>  
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoFundacionBica.JPG" href="https://www.fundacionbica.org.ar/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>SECRETARIADO EJECUTIVO</h2>
                <p>Curso dictado por Fundacion BICA</p>
                <p>Fecha de finalizacion: 09/200</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr>  
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoFundacionBica.JPG" href="https://www.fundacionbica.org.ar/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>AUXILIAR EN RELACIONES PÚBLICAS</h2>
                <p>Curso dictado por Fundacion BICA</p>
                <p>Fecha de finalizacion: 04/2006</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
    <hr> 
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <header>
                <img src="../../../assets/images-educacion/LogoSystem.JPG" href="https://www.fundacionbica.org.ar/" type="button">
            </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>TÉCNICO EN ADMINISTRACIÓN DE EMPRESAS</h2>
                <p>Curso dictado por System</p>
                <p>Fecha de finalizacion: 12/2005</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
</div>
    <hr>
    <i class="bi bi-pencil"></i><i class="bi bi-trash3"></i>  
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <header>
           </header>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <section>
                <h2>SECUNDARIO</h2>
                <p>Bachiller orientado a la producción de bienes y servicios</p>
                <p>Fecha de finalizacion: 12/2009</p>
                <p>Certificado: Si</p>
            </section>
            </div>
    </div>
</div>


<hr class="border border-danger border-2 opacity-50">
